
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
   }

.modal {
    display: none;
    position: fixed;
    width: 450px;
    height: 250px;
    top: 40%;
    left: 45%;
    margin-top: -140px;
    margin-left: -170px;
    z-index: 1;
    overflow: auto;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  }

.modal h1,p {
    text-align: center;
  }

.modal-form {
    height: 600px;
    width: 400px;
  }

.modal-form label {
    display: inline-block;
    width: 240px;
    text-align: left;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.header {
    overflow: hidden;
    background-color: #acd6ef;
    padding: 20px 10px;
  }
  
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

.header-right {
    float: right;
  }
  
.container-login {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
   }
    
form {
    margin: 0 auto;
    margin-top: 20px;
   }
    
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
   }
    
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
   }

.table-conteiner {
    position: fixed; /* Stay in place */
    width: 80%;
    height: 80%;
    overflow: auto; /* Enable scroll if needed */
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  }

table {
    margin: 0 0 40px 0;
    width: 100%;
    display: table;
  }

tr {
    display: table-row;
    background: #f6f6f6;
  }

tr:nth-child(odd){
    background: #e9e9e9
  }
thead tr td {
    font-weight: bold;
    border: 1px solid #acd6ef;
    background: #acd6ef;
    padding: 20px;
  }

tbody td {
    height: 60px;
    padding: 20px;
  }

.centered {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
   }
    
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
   }
    
input[type=submit], button[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef;
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
   }

.modal .cancel{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: lightcoral;
    border-radius: 30px;
    border: 1px solid #d86262;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
   }

.content-error{
    position: fixed;
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
   }

.error-500{
    font-size: xxx-large;
    text-align: center;
    }

.error-text{
    font-size: 25px;
    text-align: center;
    }