<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href={{stylesheets}}>
	</head>
	<body>
		{Load}Header{/Load}

		{{view}}
		
		{Load}ModalNotice{/Load}
	</body>
	<script type="text/javascript" src={{entry_script}}></script>
</html>
